@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html, body, #root {
    @apply h-full;
  }

  body {
    @apply min-h-screen bg-bgBase text-textPrimary;
  }
}


@layer components {
  .app-surface {
    @apply rounded-card border border-borderDefault bg-bgCard shadow-sm text-textPrimary;
 
  }
}
